[Desktop Entry]
Name=Pugaipadam
Exec=pugaipadam %F
Terminal=false
Type=Application
StartupNotify=true
Icon=com.github.MrKomodoDargon.Pugaipadam
Categories=COSMIC;Utility;
Keywords=Folder;Manager;
MimeType=inode/directory;
